@import './constants.css';

.blog-post-details {
  padding: 3rem 10rem;
}

.post-back-action a {
  text-decoration: none;
}

.post-back-action a:hover {
  color: var(--blue);
}

.post-details-content {
  display: flex;
  flex-direction: row;
}

.post-details-content img {
  width: 450px;
  height: 400px;
  margin: 10px 10px;
}

.post-details-info p {
  font-size: 16px;
}
